.title {
  margin: 1.225rem auto 1.225rem auto;
  width: 9rem;
  position: static;
}
.title span {
  display: inline-block;
  background: url(../img/lattice.png) no-repeat center center;
  background-size: 1.6rem 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  font-size: 18px;
  color: #0AABF5;
}

.header {
  display: block;
  padding: 0 0.75rem;
  margin-bottom: 0.75rem;
}
.header img {
  display: block;
  width: 100%;
  margin: 0.25rem 0;
}
.header p {
  font-size: 15px;
  line-height: 1.05rem;
}

.detail {
  padding: 0 0.75rem;
}
.detail li img {
  display: block;
  width: 9.5rem;
  width: 100%;
  margin: 0.55rem 0 0.4rem 0;
}
.detail li .detail-header {
  width: 5rem;
  background: url(../img/food.png) no-repeat center left;
  background-size: 1.05rem 1.05rem;
  font-size: 18px;
  padding-left: 1.25rem;
  margin: 0 auto;
  position: relative;
  text-align: right;
}
.detail li .detail-header .detail-line-left {
  width: 2rem;
  height: 0.05rem;
  background: #DCDCDC;
  position: absolute;
  left: -3rem;
  top: 46%;
}
.detail li .detail-header .detail-line-right {
  width: 2rem;
  height: 0.05rem;
  background: #DCDCDC;
  position: absolute;
  right: -3rem;
  top: 46%;
}
.detail li .detail-ingredients {
  line-height: 1rem;
  font-size: 15px;
  text-align: center;
  margin: 1rem auto;
}
.detail li .detail-header-species {
  width: 3.5rem;
  background-image: url(../img/species1.png);
}
.detail li .detail-header-nutrition {
  background-image: url(../img/species2.png);
}
.detail li .detail-step-text {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
  background: #0AABF5;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 1rem;
}
.detail li .margin-top-20 {
  margin-top: 0.5rem;
}
.detail li p {
  font-size: 15px;
  line-height: 1.05rem;
}
.detail li .detail-header-season {
  background-image: url(../img/species3.png);
}
.detail li .detail-header-bug {
  background-image: url(../img/species4.png);
}
.detail li .detail-header-effect {
  background-image: url(../img/species5.png);
}
.detail li .detail-header-save {
  background-image: url(../img/species6.png);
}

.buy {
  position: fixed;
  bottom: 1.5rem;
  left: 42%;
  width: 2.75rem;
  height: 2.75rem;
  background: #0AABF5;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  line-height: 2.75rem;
  text-align: center;
}

.list {
  font-size: 13px;
  color: #646464;
}
.list .header {
  background: #fafafa;
  height: 1.85rem;
  padding: 0.75rem 0.75rem 0 0.75rem;
}
.list .feast-list a {
  display: block;
  color: #646464;
}
.list .feast-list a .fish-list {
  display: flex;
  justify-content: flex-start;
  padding: 0.75rem;
}
.list .feast-list a .fish-list img {
  display: block;
  width: 4.5rem;
  height: 2.75rem;
}
.list .feast-list a .fish-list .feast-list-content {
  padding: 0 0.3rem 0 0.3rem;
  flex: 1;
}
.list .feast-list a .fish-list .feast-list-content h3 {
  font-size: 17px;
  font-weight: normal;
}
.list .feast-list a .fish-list .feast-list-content p {
  line-height: 0.75rem;
  font-size: 12px;
  margin: 0;
  height: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.list .feast-list a .fish-list .right-arrow {
  width: 0.5rem;
  heigtht: 0.9rem;
  background: url(../img/right-arrow.png) no-repeat center center;
  background-size: 0.5rem 0.9rem;
}
.list .feast-list a .fish-list .new-logo {
  width: 1.35rem;
  height: 0.75rem;
  background: url(../img/new.png) no-repeat center center;
  background-size: 1.35rem 0.75rem;
  position: absolute;
  top: 0.8rem;
  right: 1.75rem;
}

/*# sourceMappingURL=fishSpecies.css.map */
