@charset "utf-8";

@function toRem($px){
  @return $px / 40px * 1rem;       //iphone6
}

.classify {
  padding: toRem(34px) toRem(30px);
  margin-top: toRem(88px);
  border-bottom: toRem(30px) solid #fafafa;
  .classify-logo {
    width: toRem(126px);
    height: toRem(50px);
    background: url(../img/classify-logo.png) no-repeat center center;
    background-size: toRem(126px) toRem(50px);
  }
  .classify-content {
    width: 103%;
    li {
      display: inline-block;
      width: toRem(104px);
      margin: toRem(30px) toRem(2px) 0 toRem(17px);
      img {
        display: inline-block;
        width: 100%;
        height: toRem(104px);
      }
      h3 {
        text-align: center;
        color: #969696;
        font-size: 12px;
      }
    }
  }
}

.list {
  font-size: 13px;
  color: #646464;
  .header {
    background: #fafafa;
    height: toRem(74px);
    padding: toRem(30px) toRem(30px) 0 toRem(30px);
  }
  .feast-list {
    li {
      display: flex;
      justify-content: space-between;
      padding: toRem(30px);
      img {
        display: block;
        width: toRem(180px);
        height: toRem(110px);
      }
      .feast-list-content {
        h3 {
          font-size: 17px;
          font-weight: normal;
        }
        p {
          line-height: toRem(30px);
          font-size: 12px;
          margin: 0;
          width: toRem(360px);
          height: toRem(60px);
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
      .right-arrow {
        width: toRem(20px);
        heigtht: toRem(36px);
        background: url(../img/right-arrow.png) no-repeat center center;
        background-size: toRem(20px) toRem(36px);
      }
    }
  }
}