@charset "UTF-8";
/*修改sui的样式问题*/
/*兼容滚动条*/
.page-group.page-current, .page.page-current {
  overflow: inherit;
}

.page, .page-group {
  overflow: inherit;
  background: #fff;
}

body {
  overflow: visible;
  font-size: 12px;
  /*ios滚动流畅*/
  -webkit-overflow-scrolling: touch;
}

/*公共*/
* {
  padding: 0;
  margin: 0;
}

body {
  list-style: none;
  border: 0;
  background: #fff;
}

li {
  list-style: none;
}
.modal-text {
  font-size: 17px;
}
/*搜索栏*/
.searchway {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fafafa;
  height: 2.5rem;
  padding: 0.4rem 0.75rem;
  border-bottom: 1px solid #eaeaea;
}
.searchway .searchway-input {
  display: block;
  background: #f0f0f0;
  width: 100%;
  height: 100%;
  border-radius: 0.85rem;
}
.searchway .searchway-input .searchway-alt {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1.7rem;
  text-align: center;
  font-size: 13px;
  color: #979797;
}
.searchway .searchway-input .searchway-alt .search-cion {
  display: block;
  position: absolute;
  left: 40%;
  top: 0.4rem;
  background: url(../../img/search.png) no-repeat center center;
  background-size: 0.85rem 0.8rem;
  width: 0.85rem;
  height: 0.8rem;
}

.searchtext {
  display: flex;
  justify-content: space-between;
}
.searchtext .searchtext-back {
  background: url(../../img/left-arrow.png) no-repeat center center;
  width: 0.5rem;
  height: 100%;
  background-size: 0.5rem 0.9rem;
}
.searchtext .searchtext-input {
  height: 100%;
  position: relative;
  width: 90%;
  margin-left: 5%;
}
.searchtext .searchtext-input .search-icon {
  position: absolute;
  display: inline-block;
  left: 0.3rem;
  top: 0.4rem;
  background: url(../../img/search.png) no-repeat center center;
  background-size: 0.85rem 0.8rem;
  width: 0.85rem;
  height: 0.8rem;
}
.searchtext .searchtext-input input {
  border: 0;
  height: 100%;
  border-radius: 0.75rem;
  background: #f0f0f0;
  padding: 0 0.75rem 0 1.375rem;
  width: 80%;
}
.searchtext .goSearch {
  width: 3.1rem;
  height: 100%;
  line-height: 1.7rem;
  color: #fff;
  background: #0aabf5;
  text-align: center;
  border-radius: 0.75rem;
}

/*.bar {*/
/*position: fixed;*/
/*top: 0;*/
/*left: 0;*/
/*.searchbar {*/
/*background: #fafafa;*/
/*.searchbar-cancel {*/
/*font-size: 13px;*/
/*}*/
/*.search-input {*/
/*.icon-search:before {*/
/*width: toRem(30px);*/
/*height: toRem(30px);*/
/*}*/
/*input {*/
/*font-size: 13px;*/
/*border-radius: 1rem;*/
/*background: #f0f0f0;*/
/*}*/
/*}*/
/*}*/
/*}*/
/*.bar:after {*/
/*display: none!important;*/
/*}*/
.bar {
  position: fixed;
  top: 0;
  left: 0;
}

.bar .searchbar {
  background: #fafafa;
}

.bar .searchbar .searchbar-back {
  background: url(../../img/left-arrow.png) no-repeat center center;
  background-size: 0.5rem 0.9rem;
  width: 0.5rem;
  height: 0.9rem;
}

.bar .searchbar .searchbar-cancel {
  font-size: 13px;
}

.bar .searchbar .search-input .icon-search:before {
  width: 0.75rem;
  height: 0.75rem;
}

.bar .searchbar .search-input input {
  font-size: 13px;
  border-radius: 1rem;
  background: #f0f0f0;
}

.bar:after {
  display: none !important;
}

/*边框样式*/
.border-top {
  position: relative;
}

.border-top:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.border-bottom {
  position: relative;
}

.border-bottom:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.border-left {
  position: relative;
}

.border-left:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  height: 100%;
  width: 1px;
  background-color: #eaeaea;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.border-right {
  position: relative;
}

.border-right:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: auto;
  bottom: auto;
  height: 100%;
  width: 1px;
  background-color: #eaeaea;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/*# sourceMappingURL=common.css.map */
