/*修改sui的样式问题*/
/*兼容滚动条*/
.page-group.page-current, .page.page-current {
    overflow: inherit;
}
.page, .page-group {
    overflow: inherit;
    background: #fff;
}
body {
    overflow: visible;
    /*ios滚动流畅*/
    -webkit-overflow-scrolling: touch;
}

/*公共*/
* {
    padding: 0;
    margin: 0;
}
body {
    list-style: none;
    border: 0;
    font-size: 12px;
    background: #fff;
}
li {
    list-style: none;
}
/*搜索栏*/
/*.bar {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
/*.searchbar {*/
    /*background: #fafafa;*/
/*.searchbar-cancel {*/
    /*font-size: 13px;*/
/*}*/
/*.search-input {*/
/*.icon-search:before {*/
    /*width: toRem(30px);*/
    /*height: toRem(30px);*/
/*}*/
/*input {*/
    /*font-size: 13px;*/
    /*border-radius: 1rem;*/
    /*background: #f0f0f0;*/
/*}*/
/*}*/
/*}*/
/*}*/
/*.bar:after {*/
    /*display: none!important;*/
/*}*/
.bar {
    position: fixed;
    top: 0;
    left: 0;
}
.bar .searchbar {
    background: #fafafa;
}
.bar .searchbar .searchbar-cancel {
    font-size: 13px;
}
.bar .searchbar .search-input .icon-search:before {
    width: 0.75rem;
    height: 0.75rem;
}
.bar .searchbar .search-input input {
    font-size: 13px;
    border-radius: 1rem;
    background: #f0f0f0;
}
.bar:after {
    display: none !important;
}


/*边框样式*/
.border-top {
    position: relative;
}

.border-top:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    height: 1px;
    width: 100%;
    background-color: #eaeaea;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.border-bottom {
    position: relative;
}

.border-bottom:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #eaeaea;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.border-left {
    position: relative;
}

.border-left:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    height: 100%;
    width: 1px;
    background-color: #eaeaea;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.border-right {
    position: relative;
}

.border-right:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
    height: 100%;
    width: 1px;
    background-color: #eaeaea;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}